<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-toolbar>
  <ion-title>
    Busca
  </ion-title>
</ion-toolbar>
<ion-toolbar>
  <ion-searchbar placeholder="Buscar por..."></ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <!-- <ion-searchbar placeholder="Filter Schedules"></ion-searchbar> -->
  <ion-list id="data">
    <ion-list-header>Instituições</ion-list-header>
    <ion-item *ngFor="let item of dados" >
      <ion-thumbnail slot="start">
        <img src="{{item.img}}">
      </ion-thumbnail>
      <ion-label>
        <h3>{{item.name}}</h3>
        <p>{{item.type}}</p>
        <p>{{item.creation}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content> 
