<ion-content>
  <div class="container">

    <div class="logo">
      <img src="../../../assets/imgs/logo5.png"  width="200"  height="200" />
    </div>

    <div class="fields">      
        <ion-input placeholder="NOME"></ion-input>
        <ion-input placeholder="CPF / CPNJ"></ion-input>
        <ion-input placeholder="RESPONSAVEL"></ion-input>
        <div id="opa" style="height:335px"></div>
        <ion-input placeholder="EMAIL"></ion-input>
        <ion-input type="password" placeholder="SENHA"></ion-input>
        <ion-input type="password" placeholder="CONFIRME A SENHA"></ion-input>
        <button class="outline" (click)="back()">VOLTAR</button>
        <button class="full">SALVAR</button>
    </div>

  </div>
</ion-content>
