.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    height: 100%;
}




.logado {
    background-color: beige;
}

ion-input, ion-textarea {
    background-color: cadetblue;
    border: 1px solid #000000;
    border-radius: 25px;

}