
<app-header></app-header>

<ion-content>

  <div class="container">

    <div class="busca">
      <ion-input placeholder="BUSCAR POR ..."></ion-input>
    </div>

    <div class="resultado">

      <div class="ong" (click)="goToOng(1)">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG1</ion-label>
          <ion-label>(81)3622-8812</ion-label>
          <ion-label>RECIFE</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

    </div>

  </div>






  
  <!-- <ion-searchbar placeholder="Filter Schedules"></ion-searchbar> -->
  <!-- <ion-list id="data">
    <ion-list-header>Instituições</ion-list-header>
    <ion-item *ngFor="let item of dados" >
      <ion-thumbnail slot="start">
        <img src="{{item.img}}">
      </ion-thumbnail>
      <ion-label>
        <h3>{{item.name}}</h3>
        <p>{{item.type}}</p>
        <p>{{item.creation}}</p>
      </ion-label>
    </ion-item>
  </ion-list> -->



</ion-content> 
