
<app-header></app-header>

<ion-content>

  <div class="container">

    <div class="busca">
      <ion-input (keyup)="search()" [(ngModel)]="busca" placeholder="BUSCAR POR ..."></ion-input>
    </div>

    <div class="resultado">

      <ul>
        <li *ngFor="let item of resultSearch">
          <div class="ong" (click)="goToOng(item)">
            <div class="avatar">
              <img src="../../../assets/imgs/logo5.png" height="40" width="40">
            </div>
            <div class="info">
              <ion-label>{{ item.ong_name }}</ion-label>
              <ion-label>{{ item.ong_telefone }}</ion-label>
              <ion-label>{{ item.ong_cidade }}</ion-label>
            </div>
          </div>
          
          <hr>
        </li>
      </ul>
      
    </div>

  </div>






  
  <!-- <ion-searchbar placeholder="Filter Schedules"></ion-searchbar> -->
  <!-- <ion-list id="data">
    <ion-list-header>Instituições</ion-list-header>
    <ion-item *ngFor="let item of dados" >
      <ion-thumbnail slot="start">
        <img src="{{item.img}}">
      </ion-thumbnail>
      <ion-label>
        <h3>{{item.name}}</h3>
        <p>{{item.type}}</p>
        <p>{{item.creation}}</p>
      </ion-label>
    </ion-item>
  </ion-list> -->



</ion-content> 
