<ion-content>
  <div class="container">
    <div class="nao-logado">

      <div class="signup">
        <ion-label>Aumente a visibilidade da sua ONG</ion-label>
        <ion-button shape="round" expand="full">cadastre-se</ion-button>
        <ion-label>E se junte a outras ONGS nessa jornada</ion-label>
      </div>

      <ion-label>ou</ion-label>
      <ion-input></ion-input>
      <ion-input></ion-input>
      <ion-input></ion-input>
      <ion-input></ion-input>
      <ion-input></ion-input>

      <div class="signin">
        <ion-label>Para alterar os dados da sua ONG</ion-label>
        <ion-button  shape="round" expand="full" fill="outline">entre</ion-button>
      </div>
      
    </div>   
  </div>

</ion-content>
