
<app-header></app-header>

<ion-content>

  <div class="container">

    <!-- <div class="busca">
      <ion-input placeholder="BUSCAR POR ..."></ion-input>
    </div> -->

    <div class="ong">
      <div class="avatar">
        <img src="../../../assets/imgs/logo5.png" height="40" width="40">
      </div>
      <div class="info">
        <ion-label>ONG1</ion-label>
      </div>
    </div>

    <hr>

    <div class="infos">
      <ion-label>Localização</ion-label>
      <div id="map" style="height:335px;margin-top: 16px;"></div>
    </div>

    <div class="infos">
      <ion-label>Descrição</ion-label>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet mi sapien. Suspendisse fringilla et enim non posuere. Nulla eget volutpat massa. Integer a eleifend metus. Vestibulum eget elit efficitur, fermentum arcu eget, vulputate enim. Sed imperdiet tincidunt mi sed pulvinar. Donec tristique non nisl a accumsan. Donec egestas mauris urna, eget posuere nunc feugiat in.
      </p>
    </div>

    <div class="infos">
      <ion-label>Responsável</ion-label>
      <p>Seu Zé</p>
    </div>

    <div class="infos">
      <ion-label>Telefone</ion-label>
      <p>(81) 3622-8812</p>
    </div>

    <div class="infos">
      <ion-label>E-mail</ion-label>
      <p>ong@email.com</p>
    </div>

    <!-- <div class="resultado">

      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG1</ion-label>
          <ion-label>(81)3622-8812</ion-label>
          <ion-label>RECIFE</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

    </div> -->

  </div>






  
  <!-- <ion-searchbar placeholder="Filter Schedules"></ion-searchbar> -->
  <!-- <ion-list id="data">
    <ion-list-header>Instituições</ion-list-header>
    <ion-item *ngFor="let item of dados" >
      <ion-thumbnail slot="start">
        <img src="{{item.img}}">
      </ion-thumbnail>
      <ion-label>
        <h3>{{item.name}}</h3>
        <p>{{item.type}}</p>
        <p>{{item.creation}}</p>
      </ion-label>
    </ion-item>
  </ion-list> -->



</ion-content> 
