
<!-- <div class="header">
  <img src="../../../assets/imgs/home.svg"  width="30"  height="30" />
  <div class="header-logo">
    <span>EASYONG</span>
  </div>
</div> -->

<ion-content>
  <div class="container">

    <div class="logo">
      <img src="../../../assets/imgs/logo5.png"  width="200"  height="200" />
    </div>

    <div class="fields">      
        <ion-input placeholder="EMAIL"></ion-input>
        <!-- <input type="email" placeholder="EMAIL"> -->
        <ion-input type="password" placeholder="SENHA"></ion-input>
        <div class="link">ESQUECEU A SENHA?</div>
        <button class="outline">ENTRAR</button>
        <div class="link center" (click)="goToHome()">ENTRAR SEM LOGIN</div>
        <button class="full">CADASTRAR-SE</button>
    </div>

  </div>
</ion-content>
