<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div class="container">
    <div class="nao-logado">

      <div class="signup">
        <ion-label>Aumente a visibilidade da sua ONG</ion-label>
        <ion-button (click)="goToSignup()" shape="round" expand="full">cadastre-se</ion-button>
        <ion-label>E se junte a outras ONGS nessa jornada</ion-label>
      </div>

      <ion-label>ou</ion-label>

      <div class="signin">
        <ion-label>Para alterar os dados da sua ONG</ion-label>
        <ion-button  shape="round" expand="full" fill="outline">entre</ion-button>
      </div>
      
    </div>   
  </div>
</ion-content>
