<app-header></app-header>

<ion-content>
  <div class="container">

    <div class="indicacao">
      <ion-label>NOS INDIQUE ALGUMA ONG QUE PODEMOS AJUDAR</ion-label>
      <ion-textarea rows="25" cols="21"></ion-textarea>
    </div>

    <!-- <div class="resultado">

      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG1</ion-label>
          <ion-label>(81)3622-8812</ion-label>
          <ion-label>RECIFE</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

      <hr>
      
      <div class="ong">
        <div class="avatar">
          <img src="../../../assets/imgs/logo5.png" height="40" width="40">
        </div>
        <div class="info">
          <ion-label>ONG2</ion-label>
          <ion-label>(81) 3622-8812</ion-label>
          <ion-label>JABOATÃO DOS GUARARAPES</ion-label>
        </div>
      </div>

    </div> -->

    <button class="outline">ENVIAR</button>

  </div>

</ion-content>
